<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<% @tasks.each do |task| %>
  <h2><%= task.name %></h2>
  <p><%= task.description %></p>
  <ul>
    <li><%= task.owner %></li>
    <li><%= task.priority %></li>
    <li><%= task.status %></li>
    <li><%= task.end_date %></li>
  </ul>
<% end %>
